*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  margin: 0;
}
.btn {
  border: 2px dotted tomato;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 40px;
  background-color: slategrey;
}
.btn-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: tomato;
  margin-right: 10px;
  vertical-align: middle;
}
.container {
  width: 700px;
  margin: 0 auto;
}
