*,
*::before,
*::after {
  box-sizing: border-box;
}

.box-1 {
  border-radius: 5px;
}

.box-3 {
  width: 150px;
  min-height: 150px;
  outline: 1px dotted burlywood;
  border-radius: 2%;
}

.box-1,
.box-2 {
  margin-bottom: 20px;
  outline: 1px solid seagreen;
}
.btn {
  border: 2px dotted tomato;
  border-radius: 10px;
  display: inline-block;
  padding: 20px 40px;
  background-color: slategrey;
}
